body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.course-details {
    height: 250px;
    width: 100%;
    background: linear-gradient(to right,
        #f6e6e3,
        #f2f3fa,
        #e7e6fb);
    display: flex;
    align-items: center;

}

.icon-images1 {
    display: flex;
    justify-content: space-between;
    width: 30%;
}


.icon-images2 {
    display: flex;
    justify-content: space-between;
    width: 30%;
}


.c-details {
    color: white;
    text-align: center;
    width: 30%;
}
#h1-c-details {
    color: black;
    font-family: 'Helvetica Bold', sans-serif;
    font-size: 40px;

}
#p-c-details {
    color: black;
    font-family:sans-serif;
    margin-top: -10px;
}

#img-1 {
   margin: 20px 0 0 20px;
    width: 50px;
    height: 50px;
}

#img-2 {
    width: 70px;
    height: 20px;
    margin-top: 80px;
}

#img-3 {
    height: 30px;
    width: 30px;
    margin-top: 170px;
}

#img-4 {
    width: 50px;
    height: 50px;
    margin-left: 480px;
}